<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      style="
        font-family: 'Parisienne', cursive;
        font-weight: 600;
        font-size: 1.8em;
      "
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      >A la Carta</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']">Buscar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
