<app-navbar></app-navbar>
<div class="container pt-5 w">
  <h1 class="text-center">A la Carta</h1>
  <h2>Mi menú</h2>
  <ng-container
    class="d-flex flex-row"
    *ngIf="menu.getItems.length; else templateEmpty"
  >
    <div class="d-flex gap-1 flex-wrap my-3">
      <app-menu-item
        *ngFor="let food of menu.getItems"
        [item]="food"
      ></app-menu-item>
    </div>
    <div class="row">
      <h5>Precio total: {{ menu.totalPrice() | currency }}</h5>
    </div>
    <div class="row">
      <h5>Health Score: {{ menu.healthScore() }}</h5>
    </div>
  </ng-container>

  <ng-template #templateEmpty>
    <p class="text-body">
      No se ha agregado ningun plato al menú.
      <a [routerLink]="['/list']"
        >Haz click aquí para buscar tus platos favoritos</a
      >
    </p>
  </ng-template>
</div>
