<app-navbar></app-navbar>
<div class="container pt-5 w">
  <h1 class="text-center">A la Carta</h1>
  <h3>Mi menú</h3>
  <ng-container *ngIf="menu.length > 0; else templateEmpty">
    <div *ngFor="let food of menu">
      <h4>{{ food.title }}</h4>
      <img src="{{ food.image }}" alt="" />
    </div>
  </ng-container>
  <ng-template #templateEmpty>
    <p class="text-body">
      No se ha agregado ningun plato al menú.
      <a [routerLink]="['/list']"
        >Haz click aquí para buscar tus platos favoritos</a
      >
    </p>
  </ng-template>
</div>
